body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 2rem;
}

button {
  border: solid 2px black;
  font-size: 2rem;
}

.center-prev {
  justify-content: center;
  display: flex;
}

.center-next {
  display: flex;
  justify-content: center;
}
