* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: white;
  background-color: #1996da;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

.column-third {
  flex-basis: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 50%;
  flex-basis: auto;
}

.white-background {
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.p {
  color: #ddd;
  text-align: center;
  width: 85%;
}

p {
  margin-top: 0;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}
